<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Data</title>
</head>
<body>
    <h1>Print Dynamic Data</h1>
    <h4>Add {/YOUR-DATA } in the url and get the result</h4>
    <h2><%= myname%></h2>
</body>
</html>