<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>Students Name</h1>
    <!--In This file we print value that come from server.js of an object -->
    <ul>
        <li><%= mydata.name %></li>
        <li><%= mydata.college%></li>
        <li><%= mydata.age%></li>
    </ul>

    <p>Note use {/dynamicdata/YOUR-DATA} for another ejs file</p>
</body>
</html>