<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Enter Your Student Name</h2>
    <form method="POST">
        <input placeholder="Enter Name" name="studentName">
        <input placeholder="Enter Email" name="email">
        <input placeholder="Enter City" name="city">
        <input type="submit" name="submit">
    </form>
</body>
</html>