<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>

    <h1>Enter the Student Details</h1>
    <form method="POST">
        <input placeholder="Enter Name" name="studentname">
        <input placeholder="Enter Age" name="studentage">
        <input placeholder="Enter your University Name" name="studentuni">
        <input type="submit" name="submit">
    </form>


</body>
</html>